# Ignore Python cache files
__pycache__/

# Ignore compiled Python files
*.pyc
*.pyo
*.pyd

# ignore jupyter checkpoints
cookbooks/.ipynb_checkpoints

# ignore virtual environment
.venv/

# ignore trunk and vs code configuration file
.trunk/
.env
.vscode

# ignor folder playground (from arthur)
playground